@import '../../vendor/styles/variables.scss';

.promo {
  background-color: $colors-landing-2;
  width: calc(100% + 140px);
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 -70px;
  padding: 125px 70px 60px;

  &__image {
    margin-left: auto;
  }
  
  &__header {
    max-width: 625px;
    margin-right: auto;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #ffff;
  }
}
